<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PhotosBy</title>
  <link rel="stylesheet" href="/js/css/tela.css">
</head>
<body>
  <div class="hearder">
  <h3 class="logo">PhotosBy</h3>
  <ul class="menu">
      <a href="#" onclick="chamar_tela()"><svg><rect></rect></svg>Sair</a>
  </ul>
</div>
  <div class="foto">
    <div class="container">
      <div class="box">
        <div class="imgBx">
          <img src="/img/img1.jpeg">
        </div>
        <div class="content">
          <h3>Feira Cultural</h3>
            <p>Em novembro de 2018, no Colégio estadual Padre António Vieira, aconteceu mais uma feira Cultural, onde os alunos apresentaram diversos subtemas sobre o tema votado no ano, que no caso foi "Moda", o evento é aberto para todo o público. 
              A foto foi registrada nos preparativos finais da feira, onde os alunos já estavam ensaiando ou arrumando algum detalhe nas apresentações.
              A modelo da foto se chama, Larissa dos Santos, 18 anos, na época da foto, a modelo se encontrava no último ano do ensino médio. 
              <br>
              <b>Foto by: Davi</b></p>
        </div>
        </div>
        <div class="box">
          <div class="imgBx">
            <img src="/img/img2.jpeg">
          </div>
            <div class="content">
              <h3>Museu dos Imigrantes</h3>
              <p>Em 25 de junho de 1993, a antiga Hospedaria dos Imigrantes do século XIX, foi reaberta, desta vez como o museu dos imigrantes, com o foco de mostrar para o público, como era a hospedaria, onde os imigrantes viviam seus primeiros dias depois de chegar no Brasil, e mostrar os principais países da onde eles vieram.
                A foto em questão, é uma das diversas flores que tem no pátio do Museu, é foi registrada em novembro de 2018, em uma visita ao museus, com foco em um trabalho de escola 
                <br>
                <b>Foto by: Davi</b></p>
            </div>
        </div>
        <div class="box">
          <div class="imgBx">
            <img src="/img/img3.jpeg">
          </div>
          <div class="content">
            <h3>Parque da Juventude</h3>
            <p>A antiga casa de detenção de São Paulo, conhecida também como Complexo Penitenciário Carandiru, hoje é o famoso Parque da Juventude, onde mudou a paisagem da zona norte da cidade de SP, substituindo o antigo presídio, por uma área de lazer e entretenimento ao ar livre, inaugurada em 2003, após a demolição do antigo presídio.
            A foto foi registrada em Outubro de 2018, nós bastidores de uma gravação de rap, do músico, Terzian Mc com sua equipe de filmagem.
            <br>
           <b>Foto by: Davi</b></p>
          </div>
        </div>
      </div>
  </div>
  <div class="coont">
    <div class="wrapper">
      <a href="https://www.youtube.com/channel/UC_jxX7OI_3mH7T-vQ8KspFw" target="_blank">
      <img src="/img/cdf.jpg">
      <div class="overlay">
        <div class="cont">
          Dicas de fotografia
        </div>
      </div>
      </a>
    </div>
  <div class="wrappe">
    <a href="https://cursosescon.com.br/curso/586" target="_blank">
    <img src="/img/curso.jpg">
      <div class="overlay">
        <div class="cont">
          Curso Grátis de fotografia
          </div>
      </div>
      </a>
  </div>
</div>    
</body>
</html>
<script>
function chamar_tela(){
  window.location.href="/carregar"
}
</script>
